[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "aliyun"

[packages]
langgraph = "*"
chromadb = "*"
langchain-openai = "*"
langchain = "*"
fastapi = "*"
uvicorn = "*"
requests = "*"
pydantic = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
